In [9]:
import pandas as pd
from sklearn.cross_validation import train_test_split
from sklearn import metrics

df = pd.read_csv("../data/continuous_feature_set.csv")
df.head()

,Id,Class,file_size_ratio,loc_count,header_count,text_count,rsrc_count,rdata_count,data_count,code_count,bss_count
0,01kcPWA9K2BOxQeS5Rju,1,0.115038,70,19,744,3,323,57,0,0
1,04EjIdbPV5e1XroFOpiN,1,4.994527,7912,19,60476,3,0,3760,0,0
2,05EeG39MTRrI6VY21DPd,1,1.835073,1047,17,11119,3,3385,1047,0,0
3,05rJTUWYAKNegBk2wE8X,1,4.553818,29937,19,208048,3,0,19267,0,0
4,0AnoOZDNbPXIr2MRBSCJ,1,1.574810,2168,19,12773,3,639,3160,0,0

In [10]:
data_df = pd.read_csv('../data/opcode_feature_set.csv')
Y = data_df['Class']
feature_names = data_df.columns.values[2:]
X = pd.DataFrame(data_df,columns=feature_names)
#print feature_names
X.head()

,inc,jle,shl,jnb,add,sub,sbb,call,jl,pop,...,setnz,jnp,aam,idiv,jo,rcl,lds,repe,stmxcsr,fisub
0,6,1,1,5,11,5,1,53,0,19,...,0,0,0,0,0,0,0,0,0,0
1,294,53,96,48,356,311,35,2900,94,1527,...,15,1,0,0,0,1,0,75,0,0
2,6,7,3,17,176,73,6,461,7,376,...,0,0,0,0,0,0,0,0,0,0
3,1815,249,267,194,1214,1240,228,10686,865,6384,...,39,0,0,11,0,1,0,259,0,0
4,6,6,83,64,532,221,4,462,7,539,...,1,0,0,1,0,0,0,0,0,0

In [6]:
df2 = pd.concat([df, X], axis=1)
df2.to_csv("../data/continuous_feature_set.csv", index=False)